# 1. Load data from data_loader.py

In [1]:
from src.data_loader import load_all_datasets
data = load_all_datasets()

# 2. Print the data to make sure it works

In [2]:
for name, df in data.items():
    #print(name)
    #print(df.head())
    print(df)

      YEAR  CONF  CONF ID  QUAD NO  QUAD ID  TEAM NO  TEAM ID  \
0     2025   MAC       17       66        2     1147        2
1     2025   SEC       28       66        2     1146        3
2     2025  SWAC       31       68        4     1145        4
3     2025   Pat       25       66        2     1144        6
4     2025   B12        7       66        2     1143        8
...    ...   ...      ...      ...      ...      ...      ...
1142  2008    BE        8        1        1        5      235
1143  2008    SB       26        1        1        4      236
1144  2008  BSth       10        4        4        3      239
1145  2008   B10        6        3        3        2      240
1146  2008   A10        1        1        1        1      244

                  TEAM  SEED  ROUND  ...  BADJT RANK  AVG HGT RANK  \
0                Akron    13      0  ...          19           361
1              Alabama     2      0  ...           1            57
2          Alabama St.    16      0  ...         154           285
3             American    16      0  ...         349           303
4              Arizona     4      0  ...          52            74
...                ...   ...    ...  ...         ...           ...
1142     West Virginia     7     16  ...         225            18
1143  Western Kentucky    12     16  ...         111           160
1144          Winthrop    13     64  ...         301           231
1145         Wisconsin     3     16  ...         301            51
1146            Xavier     3      8  ...         225           149

      EFF HGT RANK  EXP RANK  TALENT RANK  FT% RANK  OP FT% RANK  PPPO RANK  \
0              364        73          149        86          239         25
1                4       261           32       211           92          9
2              239        83          251       270           61        227
3              248       181          364        58           34        218
4              129       225           16        18          143         25
...            ...       ...          ...       ...          ...        ...
1142           115       181           61       209           16         22
1143           179        55          131       127          214         27
1144           206        89          236       339          190        170
1145            35        98           12       118          117         60
1146            92        63          147        20           86          4

      PPPD RANK  ELITE SOS RANK
0           145             305
1           174               1
2           147             253
3           163             329
4            87               3
...         ...             ...
1142         32              49
1143         28             203
1144         12             179
1145          2              57
1146         44              85

[1147 rows x 103 columns]
      YEAR  TEAM NO              TEAM  SEED  ROUND  NET RPI  RESUME  WAB RANK  \
0     2025     1147             Akron    13      0       91     112        65
1     2025     1146           Alabama     2      0        6       2         4
2     2025     1145       Alabama St.    16      0      274     265       200
3     2025     1144          American    16      0      225     225       164
4     2025     1143           Arizona     4      0       12      10        15
...    ...      ...               ...   ...    ...      ...     ...       ...
1142  2008        5     West Virginia     7     16       29      32        28
1143  2008        4  Western Kentucky    12     16       39     124        46
1144  2008        3          Winthrop    13     64      108     121       108
1145  2008        2         Wisconsin     3     16       11       9         8
1146  2008        1            Xavier     3      8        9       7        18

      ELO  B POWER  Q1 W  Q2 W  Q1 PLUS Q2 W  Q3 Q4 L  PLUS 500  R SCORE  \
0      45    104.0     0     1             1        3        21     0.02
1       8      5.7    11     8            19        0        18    99.92
2     196    274.3     0     0             0        9         4     0.00
3     163    236.0     0     0             0        8        10     0.00
4      25     10.7     9     5            14        0        11    99.69
...   ...      ...   ...   ...           ...      ...       ...      ...
1142   29     20.0     3     2             5        1        13    96.80
1143   25     45.0     0     1             1        1        19     5.30
1144   93     96.0     1     2             3        7         9     0.00
1145    5      6.0     6     2             8        0        25    99.90
1146   13     13.0     9     3            12        0        21    99.70

      BID TYPE
0         Auto
1     At-Large
2         Auto
3         Auto
4     At-Large
...        ...
1142  At-Large
1143      Auto
1144      Auto
1145      Auto
1146  At-Large

[1147 rows x 17 columns]
      YEAR  TEAM NO              TEAM  SEED  ROUND  TR RANK  TR RATING  \
0     2025     1147             Akron    13      0      106        4.4
1     2025     1146           Alabama     2      0        5       22.5
2     2025     1145       Alabama St.    16      0      279       -6.6
3     2025     1144          American    16      0      241       -4.5
4     2025     1143           Arizona     4      0       10       20.1
...    ...      ...               ...   ...    ...      ...        ...
1142  2008        5     West Virginia     7     16       13       23.4
1143  2008        4  Western Kentucky    12     16       54       16.7
1144  2008        3          Winthrop    13     64       81       14.2
1145  2008        2         Wisconsin     3     16        6       25.8
1146  2008        1            Xavier     3      8       12       23.6

      V 1-25 WINS  V 1-25 LOSS  V 26-50 WINS  ...  CONSISTENCY TR RATING  \
0               0            0             0  ...                    9.6
1               7            5             8  ...                   12.4
2               0            0             0  ...                    9.3
3               0            0             0  ...                   10.6
4               7            9             2  ...                   10.4
...           ...          ...           ...  ...                    ...
1142            3            7             1  ...                   13.3
1143            0            2             1  ...                    7.4
1144            0            2             2  ...                   10.5
1145            5            2             4  ...                    9.1
1146            2            1             0  ...                   12.4

      CONSISTENCY V 1-25 WINS  CONSISTENCY V 1-25 LOSS  \
0                           0                        0
1                           2                        0
2                           0                        1
3                           0                        0
4                           2                        0
...                       ...                      ...
1142                        0                        0
1143                        0                        0
1144                        0                        0
1145                        0                        0
1146                        0                        0

      CONSISTENCY V 26-50 WINS  CONSISTENCY V 26-50 LOSS  \
0                            0                         0
1                            0                         0
2                            0                         1
3                            1                         1
4                            1                         0
...                        ...                       ...
1142                         0                         0
1143                         0                         0
1144                         0                         0
1145                         0                         0
1146                         0                         0

      CONSISTENCY V 51-100 WINS  CONSISTENCY V 51-100 LOSS  CONSISTENCY HI  \
0                             3                          0              12
1                             5                          0               1
2                             3                          4              22
3                             2                          1              37
4                             3                          3               5
...                         ...                        ...             ...
1142                          0                          0               1
1143                          1                          0               1
1144                          1                          0               1
1145                          0                          0               1
1146                          0                          0               1

      CONSISTENCY LO  CONSISTENCY LAST
0                339               118
1                361               332
2                324                80
3                332               225
4                364               215
...              ...               ...
1142             341               332
1143             244                 7
1144             265               216
1145             288                89
1146             339               317

[1147 rows x 43 columns]
      YEAR  BY YEAR NO  BY ROUND NO  TEAM NO              TEAM  SEED  ROUND  \
0     2024        2014         2094     1067       Connecticut     1      1
1     2024        2013         2093     1026           Stetson    16     64
2     2024        2012         2092     1060  Florida Atlantic     8     64
3     2024        2011         2091     1036      Northwestern     9     32
4     2024        2010         2090     1029     San Diego St.     5     16
...    ...         ...          ...      ...               ...   ...    ...
2009  2008           5           35       43            Kansas     1      1
2010  2008           4           34       37           Memphis     1      2
2011  2008           3           33       13              UCLA     1      4
2012  2008           2            2       43            Kansas     1      1
2013  2008           1            1       37           Memphis     1      2

      CURRENT ROUND  SCORE
0                64     91
1                64     52
2                64     65
3                64     77
4                64     69
...             ...    ...
2009              4     84
2010              4     78
2011              4     63
2012              2     75
2013              2     68

[2014 rows x 9 columns]

# 3. Check for missing values

In [3]:
for _, df in data.items():
    print(df.isnull().sum())

YEAR              0
CONF              0
CONF ID           0
QUAD NO           0
QUAD ID           0
                 ..
FT% RANK          0
OP FT% RANK       0
PPPO RANK         0
PPPD RANK         0
ELITE SOS RANK    0
Length: 103, dtype: int64
YEAR            0
TEAM NO         0
TEAM            0
SEED            0
ROUND           0
NET RPI         0
RESUME          0
WAB RANK        0
ELO             0
B POWER         0
Q1 W            0
Q2 W            0
Q1 PLUS Q2 W    0
Q3 Q4 L         0
PLUS 500        0
R SCORE         0
BID TYPE        0
dtype: int64
YEAR                         0
TEAM NO                      0
TEAM                         0
SEED                         0
ROUND                        0
TR RANK                      0
TR RATING                    0
V 1-25 WINS                  0
V 1-25 LOSS                  0
V 26-50 WINS                 0
V 26-50 LOSS                 0
V 51-100 WINS                0
V 51-100 LOSS                0
HI                           0
LO                           0
LAST                         0
SOS RANK                     0
SOS RATING                   0
SOS HI                       0
SOS LO                       0
SOS LAST                     0
LUCK RANK                    0
LUCK RATING                  0
LUCK V 1-25 WINS             0
LUCK V 1-25 LOSS             0
LUCK V 26-50 WINS            0
LUCK V 26-50 LOSS            0
LUCK V 51-100 WINS           0
LUCK V 51-100 LOSS           0
LUCK HI                      0
LUCK LO                      0
LUCK LAST                    0
CONSISTENCY RANK             0
CONSISTENCY TR RATING        0
CONSISTENCY V 1-25 WINS      0
CONSISTENCY V 1-25 LOSS      0
CONSISTENCY V 26-50 WINS     0
CONSISTENCY V 26-50 LOSS     0
CONSISTENCY V 51-100 WINS    0
CONSISTENCY V 51-100 LOSS    0
CONSISTENCY HI               0
CONSISTENCY LO               0
CONSISTENCY LAST             0
dtype: int64
YEAR             0
BY YEAR NO       0
BY ROUND NO      0
TEAM NO          0
TEAM             0
SEED             0
ROUND            0
CURRENT ROUND    0
SCORE            0
dtype: int64