# Test to check if combination worked or not

In [2]:
import pandas as pd
from src.feature_engineering import FeatureEngineering

# create FeatureEngineering object
fe = FeatureEngineering()

# test combination
team_features = fe.combine_into_one_dataset()
print(team_features.head())

   YEAR  TEAM NO         TEAM  SEED  BADJ EM   BADJ O   BADJ D  EFG%  EFG%D  \
0  2025     1147        Akron    13    6.861  113.691  106.830  55.4   49.5
1  2025     1146      Alabama     2   31.278  127.634   96.356  56.3   47.9
2  2025     1145  Alabama St.    16   -9.091  100.521  109.612  47.1   50.3
3  2025     1144     American    16   -6.202  101.220  107.422  51.8   52.1
4  2025     1143      Arizona     4   27.472  123.940   96.468  52.9   48.6

   3PT%  ...  Q2 W  Q1 PLUS Q2 W  ELO  NET RPI  TR RATING  SOS RANK  \
0  36.6  ...     1             1   45       91        4.4       179
1  35.0  ...     8            19    8        6       22.5         2
2  32.9  ...     0             0  196      274       -6.6       327
3  35.1  ...     0             0  163      225       -4.5       291
4  32.4  ...     5            14   25       12       20.1         3

   LUCK RANK  CONSISTENCY RANK  V 1-25 WINS  V 1-25 LOSS
0         21               109            0            0
1        134               347            7            5
2         64                71            0            0
3          7               226            0            0
4        298               193            7            9

[5 rows x 29 columns]

# Test match up pairing

In [3]:
# test matchup pairing
matchup_df = fe.create_matchup_features()
print(matchup_df.head(10))

   YEAR  ROUND           TEAM1    TEAM2  TEAM_1_SCORE  TEAM_2_SCORE  WINNER  \
0  2008      1          Kansas   Kansas            85            75       1
1  2008      1          Kansas   Kansas            72            59       1
2  2008      1          Kansas   Kansas            84            75       1
3  2008      2         Memphis  Memphis            87            77       1
4  2008      2         Memphis  Memphis            92            85       1
5  2008      2         Memphis  Memphis            78            68       1
6  2008      4  North Carolina     UCLA           113            70       1
7  2008      4  North Carolina     UCLA           108            51       1
8  2008      4  North Carolina     UCLA            68            88       0
9  2008      4  North Carolina     UCLA            83            76       1

   TEAM NO_T1  SEED_T1  BADJ EM_T1  ...  Q2 W_T2  Q1 PLUS Q2 W_T2  ELO_T2  \
0        43.0      1.0        35.4  ...      7.0             15.0     4.0
1        43.0      1.0        35.4  ...      7.0             15.0     4.0
2        43.0      1.0        35.4  ...      7.0             15.0     4.0
3        37.0      1.0        29.5  ...      9.0             15.0     3.0
4        37.0      1.0        29.5  ...      9.0             15.0     3.0
5        37.0      1.0        29.5  ...      9.0             15.0     3.0
6        31.0      1.0        28.4  ...      9.0             20.0     2.0
7        31.0      1.0        28.4  ...      9.0             20.0     2.0
8        31.0      1.0        28.4  ...      9.0             20.0     2.0
9        31.0      1.0        28.4  ...      9.0             20.0     2.0

   NET RPI_T2  TR RATING_T2  SOS RANK_T2  LUCK RANK_T2  CONSISTENCY RANK_T2  \
0         5.0          32.5          2.0         210.0                201.0
1         5.0          32.5          2.0         210.0                201.0
2         5.0          32.5          2.0         210.0                201.0
3         3.0          28.7         45.0          71.0                 53.0
4         3.0          28.7         45.0          71.0                 53.0
5         3.0          28.7         45.0          71.0                 53.0
6         4.0          28.3          4.0          36.0                 32.0
7         4.0          28.3          4.0          36.0                 32.0
8         4.0          28.3          4.0          36.0                 32.0
9         4.0          28.3          4.0          36.0                 32.0

   V 1-25 WINS_T2  V 1-25 LOSS_T2
0             4.0             2.0
1             4.0             2.0
2             4.0             2.0
3             3.0             1.0
4             3.0             1.0
5             3.0             1.0
6             7.0             1.0
7             7.0             1.0
8             7.0             1.0
9             7.0             1.0

[10 rows x 61 columns]

# Test differences

In [4]:
difference = fe.create_difference_features(matchup_df)
print(difference)

      YEAR  ROUND           TEAM1             TEAM2  TEAM_1_SCORE  \
0     2008      1          Kansas            Kansas            85
1     2008      1          Kansas            Kansas            72
2     2008      1          Kansas            Kansas            84
3     2008      2         Memphis           Memphis            87
4     2008      2         Memphis           Memphis            92
...    ...    ...             ...               ...           ...
1001  2024     64         Florida  Western Kentucky           100
1002  2024     64   Grambling St.               TCU            50
1003  2024     64     McNeese St.           Samford            65
1004  2024     64  South Carolina             Akron            73
1005  2024     64    Colorado St.     Saint Peter's            44

      TEAM_2_SCORE  WINNER  TEAM NO_T1  SEED_T1  BADJ EM_T1  ...  DREB%_DIFF  \
0               75       1        43.0      1.0      35.400  ...         0.0
1               59       1        43.0      1.0      35.400  ...         0.0
2               75       1        43.0      1.0      35.400  ...         0.0
3               77       1        37.0      1.0      29.500  ...         0.0
4               85       1        37.0      1.0      29.500  ...         0.0
...            ...     ...         ...      ...         ...  ...         ...
1001            69       1      1061.0      7.0      20.355  ...        -2.2
1002            72       0      1058.0     16.0      -8.337  ...        -4.1
1003            89       0      1046.0     12.0      10.223  ...         1.6
1004            60       1      1028.0      6.0      15.506  ...        -2.4
1005            49       0      1068.0     10.0      15.664  ...         1.9

      AST%_DIFF  Q1 PLUS Q2 W_DIFF  ELO_DIFF  NET RPI_DIFF  TR RATING_DIFF  \
0           0.0                0.0       0.0           0.0             0.0
1           0.0                0.0       0.0           0.0             0.0
2           0.0                0.0       0.0           0.0             0.0
3           0.0                0.0       0.0           0.0             0.0
4           0.0                0.0       0.0           0.0             0.0
...         ...                ...       ...           ...             ...
1001        5.7                9.0    -106.0        -108.0            11.6
1002      -18.9               -8.0     119.0         237.0           -21.6
1003       -5.6                1.0      -5.0         -18.0             0.0
1004       12.0                9.0     -91.0         -55.0             5.3
1005       16.7                9.0    -103.0        -151.0            13.4

      SOS RANK_DIFF  LUCK RANK_DIFF  CONSISTENCY RANK_DIFF  V 1-25 WINS_DIFF
0               0.0             0.0                    0.0               0.0
1               0.0             0.0                    0.0               0.0
2               0.0             0.0                    0.0               0.0
3               0.0             0.0                    0.0               0.0
4               0.0             0.0                    0.0               0.0
...             ...             ...                    ...               ...
1001         -169.0           -81.0                   97.0               4.0
1002          308.0          -207.0                  196.0              -2.0
1003           81.0             7.0                  -45.0               0.0
1004          -84.0          -118.0                  270.0               2.0
1005         -177.0            -7.0                 -105.0               2.0

[1006 rows x 83 columns]