# 1. Test to check if combination worked or not

In [1]:
import pandas as pd
from src.feature_engineering import FeatureEngineering

# create FeatureEngineering object
fe = FeatureEngineering()

# test combination
'''team_features = fe.combine_into_one_dataset()
print(team_features.head())'''

# test matchup pairing
matchup_df = fe.create_matchup_features()
print(matchup_df.head(10))

   YEAR  ROUND           TEAM1    TEAM2  TEAM_1_SCORE  TEAM_2_SCORE  WINNER  \
0  2008      1          Kansas   Kansas            85            75       1
1  2008      1          Kansas   Kansas            72            59       1
2  2008      1          Kansas   Kansas            84            75       1
3  2008      2         Memphis  Memphis            87            77       1
4  2008      2         Memphis  Memphis            92            85       1
5  2008      2         Memphis  Memphis            78            68       1
6  2008      4  North Carolina     UCLA           113            70       1
7  2008      4  North Carolina     UCLA           108            51       1
8  2008      4  North Carolina     UCLA            68            88       0
9  2008      4  North Carolina     UCLA            83            76       1

   TEAM NO_T1  SEED_T1  BADJ EM_T1  ...  Q2 W_T2  Q1 PLUS Q2 W_T2  ELO_T2  \
0        43.0      1.0        35.4  ...      7.0             15.0     4.0
1        43.0      1.0        35.4  ...      7.0             15.0     4.0
2        43.0      1.0        35.4  ...      7.0             15.0     4.0
3        37.0      1.0        29.5  ...      9.0             15.0     3.0
4        37.0      1.0        29.5  ...      9.0             15.0     3.0
5        37.0      1.0        29.5  ...      9.0             15.0     3.0
6        31.0      1.0        28.4  ...      9.0             20.0     2.0
7        31.0      1.0        28.4  ...      9.0             20.0     2.0
8        31.0      1.0        28.4  ...      9.0             20.0     2.0
9        31.0      1.0        28.4  ...      9.0             20.0     2.0

   NET RPI_T2  TR RATING_T2  SOS RANK_T2  LUCK RANK_T2  CONSISTENCY RANK_T2  \
0         5.0          32.5          2.0         210.0                201.0
1         5.0          32.5          2.0         210.0                201.0
2         5.0          32.5          2.0         210.0                201.0
3         3.0          28.7         45.0          71.0                 53.0
4         3.0          28.7         45.0          71.0                 53.0
5         3.0          28.7         45.0          71.0                 53.0
6         4.0          28.3          4.0          36.0                 32.0
7         4.0          28.3          4.0          36.0                 32.0
8         4.0          28.3          4.0          36.0                 32.0
9         4.0          28.3          4.0          36.0                 32.0

   V 1-25 WINS_T2  V 1-25 LOSS_T2
0             4.0             2.0
1             4.0             2.0
2             4.0             2.0
3             3.0             1.0
4             3.0             1.0
5             3.0             1.0
6             7.0             1.0
7             7.0             1.0
8             7.0             1.0
9             7.0             1.0

[10 rows x 61 columns]